.DivContainerCarousel  {
    display: flex;
    justify-content: center;
    background-color: red;
}

.DivSubContainerCarousel {
    display: flex;
    overflow-x: hidden;
    width: 80%;
    height: 600px;
}

.ImagensCarrossel {
    width: 100%;
    /* flex: 0 1 auto; */
    flex-shrink: 0;
}

.ButtonNext,
.ButtonPrevious {
    cursor: pointer;
    opacity: 0.1;
    transition: 1s;
    background: none;
    border: none;
    background:rgb(94, 94, 94);
    width: 50px;
    color: white
}

.ButtonNext:hover,
.ButtonPrevious:hover {
    cursor: pointer;
    opacity: 1;
    transition: 1s
}