.DivContainerCommentsProduct {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.DivTitleCommentsProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.DivInputAskCommentProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.DivInputAskCommentProducts > input[type=image] {
    width: 50px;
}


.DivInputAskCommentProducts input[type=text] {
    font-size: 25px;
    margin-right: 20px;
    width: 100%;
}

.DivCommentsUserProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.DivArrowUp {
    width: 40px;
}

.DivArrowDown {
    width: 40px;
    transform: rotate(180deg)
}

.DivUserComment {
    margin-bottom: 20px;
    margin-top: 20px;
}

.DivNameComments {
    font-weight: bold
}

.DivReponseAsk {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.DivReponseAsk .DivInputResponseUser > input[type=text] {
    width: 70%;
    padding: 5px;
}

.DivReponseAsk .DivInputResponseUser > input[type=image] {
    width: 30px;
}

.DivInputResponseUser {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.DivButtonReponseComment {
    width: 100%;
}

.DivResponseAsk > p {
    margin-left: 20px;
}


