.DivContainerOptionUser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.DivMenuBurguer {
    display: none;
}

.DivOptionUser,
.DivPainelUser {
    height: 100vh;
}

.DivPainelUser {
    width: 100%;
    padding: 20px;
}

.DivOptionUser {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 20px;
    border-right: 2px solid black;
    background-color: rgb(40, 40, 41)
}

.DivOptionUser ul {
    width: 100%;
}

.DivOptionUser ul li {
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    background-color: rgb(40, 40, 41);
    color: white;
}

.DivInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.DivInputs input {
    padding: 15px;
    width: 80%;
    margin-bottom: 40px;
}

.DivInputs > button {
    padding: 10px;
    width: 20%;
    border-radius: 5px;
    border: none;
    background-color: #C56AFD;
    cursor: pointer;
    color: white
}

.DivInputs h1 {
    margin-bottom: 10px;
}

.DivProductsAdverts {
    cursor: pointer;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}

.DivProductsAdverts > button {
    width: 100%;
    border: none;
    background-color: rgb(197, 106, 253);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
}

.DivContainerProductAdverts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid black;
}

.DivProductsAdverts img {
    width: 200px;
}

.DivContainerWelcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.DivContainerWelcome h1 {
    margin-bottom: 50px;
}

.DivContainerWelcome img {
    width: 400px;
}

@media screen and (min-width: 270px) and (max-width: 460px) {
    .DivContainerProductAdverts {
        padding: 0;
    }

    .DivProductsAdverts {
        margin: 0;
    }

    .DivOptionUser {
        display: none;
    }

    .DivPainelUser {
        width: 100%;
        height: 100%;
        padding: 5px;
    }

    .DivContainerWelcome {
        width: 100%;
        border: none
    }

    .DivContainerWelcome > h1 {
        width: 100%;
        text-align: center;
    }

    .DivContainerWelcome > img {
        width: 200px;
    }

    .MenuBurguer {
        width: 30px;
    }

    .DivMenuBurguer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        left: 0;
        background-color: #C56AFD;
        padding: 10px;
    }

    .DivMenuBurguer ul > li {
        list-style-type: none;
        padding: 20px;
        margin-top: 20px;
        background-color: white;
        border-radius: 5px
    }

    .DivInputs {
        border: none;
        text-align: center;
    }

    .DivInputs > input,
    .DivInputs > button {
        width: 100%;
        height: 100%;
    }
}