.SlideContainer {
    display: flex;
    align-items: center;
    width: 50%;
    overflow: hidden;
    height: 550px;
    scroll-behavior: smooth;
}

.SlideContainer > img {
    width: 100%;
}

.NextStyle {
    transform: rotate(90deg);
    width: 100px;
}

.PreviusStyle {
    transform: rotate(270deg);
    width: 100px;
}