.SlideContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150vh;
    overflow: hidden;
    height: 550px;
    scroll-behavior: smooth;
}

.DivImageSlide img {
}

.DivImageSlide {
    width: 100%;
    border: 1px solid black;
}

.NextStyle {
    position: absolute;
    left: 0;
    transform: rotate(90deg);
    width: 100px;
}

.PreviusStyle {
    position: absolute;
    right: 0;
    transform: rotate(270deg);
    width: 100px;
}

@media screen and (min-width: 280px) and (max-width: 900px) {
    .SlideContainer {
        height: 300px
    }
}